<div #kongFuMain class="kong-fu">
    <div *ngIf="options.title.length > 0" class="row">
        <div class="col text-center">
            <h2>{{options.title}}</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div *ngIf="options.showResultCount" class="col-sm-4 col-lg-3 col-12 text-left result-count">
            <span class="result-count-label">Results</span>
            <span class="badge badge-dark">{{rows.length}}</span>
        </div>
        <div *ngIf="options.filtering.enabled" class="col-lg-9 col-sm-8 col-12">
            <kong-fu-table-filtering [options]="options.filtering" [columns]="columns"
                (filterData)="filterData($event)" (filteringStart)="filteringStart($event)"></kong-fu-table-filtering>
        </div>
    </div>
    <div #kongFuTable class="kong-fu-table">
        <div class="kong-fu-header-section">
            <div class="row">
                <div class="col">
                    <ng-container *ngFor="let header of columns">
                        <div *ngIf="!header.breakpoints.includes(screenBreakpoint)" class="kong-fu-header"  [style.width]="header.width + 'px'" [style.left]="header.left + 'px'">
                            <div (click)="titleClicked(header)" class="header-title">
                                <span>{{header.title}}</span>
                                <span *ngIf="header.isSorted" [ngClass]="{'fa': true, 'fa-sort-up': header.ascending, 'fa-sort-down': !header.ascending, 'header-sort': true}"></span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="kong-fu-body-section">
            <ng-container *ngFor="let row of rows | slice:startIndex:endIndex">
                <div class="row" (click)="showChildren(row)">
                    <div class="col">
                        <div class="kong-fu-row">
                            <ng-container *ngFor="let column of row.columns; let i = index">
                                <div *ngIf="!column.breakpoints.includes(screenBreakpoint)" [style.width]="column.width + 'px'" [style.left]="column.left + 'px'"
                                    class="kong-fu-cell">
                                    <div class="kong-fu-cell-data">
                                        <div [ngClass]="{'header': column.isFirst && isBreakpointActive, 'text-right': column.type === 'number'}">
                                            <span *ngIf="column.isFirst && isBreakpointActive" [ngClass]="{'fa': true, 'fa-plus': !row.isExpanded, 'fa-minus': row.isExpanded, 'collapse-icon': true}"></span>
                                            <span class="visible-text">
                                                {{
                                                    row.values[i].toString().length >= (column.width * 0.395) ?
                                                    row.values[i].toString().slice(0,column.width * 0.395).trim() + '...' :
                                                    row.values[i].toString()
                                                }}
                                            </span>
                                            <span *ngIf="row.values[i].toString().length >= (column.width * 0.395)" class="full-text">
                                                {{row.values[i]}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <ng-container *ngFor="let column of row.columns; let i = index">
                    <div *ngIf="column.breakpoints.includes(screenBreakpoint)" [ngClass]="{'row': true, 'hidden': !row.isExpanded}">
                        <div class="col">
                            <div class="child-row">
                                <div class="kong-fu-row">
                                    <div class="kong-fu-cell header-title" [style.width]="firstColumn.width + 'px'">
                                        {{column.title}}
                                    </div>
                                    <div class="kong-fu-cell" [style.width]="(maxWidth - firstColumn.width) + 'px'" [style.left]="firstColumn.width">
                                        {{row.values[i]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="options.paging !== null && options.paging !== undefined && options.paging.enabled">
        <kong-fu-table-paging #pagination [numberOfItems]="rows.length" [resultsPerPage]="options.paging.items"
                              (changePage)="changePage($event)" [currentPage]="currentPage" [numPageButtons]="options.paging.pageButtons"></kong-fu-table-paging>
    </ng-container>
    <div *ngIf="showSpinner" class="kong-fu-spinner">
        <span class="fa fa-spinner fa-spin"></span>
    </div>
</div>
