<div class="row remove-gutters">
    <div class="col-md-9 offset-md-3 col-sm-8 offset-sm-4 col-lg-7 offset-lg-5 col-xl-6 offset-xl-6 col-xxl-5 offset-xxl-7">
        <div class="form-group kong-fu-form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search within results" [(ngModel)]="txtFilterText">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-danger">
                        <span class="fas fa-eraser"></span>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="applyFilterClicked()">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
